Source: griddb
Section: unknown
Priority: extra
Maintainer: Katsuhiko Nonomura <contact@griddb.org>
Build-Depends: debhelper (>= 10)
Standards-Version: 5.8.0
Homepage: https://github.com/griddb/griddb

Package: griddb
Architecture: amd64
Depends: libc6 (>= 2.15), libgcc1 (>= 1:3.0), libstdc++6 (>= 4.8)
Description: GridDB Community Edition
 GridDB is Database for IoT with both NoSQL interface and SQL Interface.
